# [submodule "42docs"]
# 	path = 42docs
# 	url = https://github.com/harm-smits/42docs.git
# [submodule "minilibx-linux"]
# 	path = minilibx-linux
# 	url = https://github.com/42Paris/minilibx-linux.git
# [submodule "mlx-o"]
# 	path = mlx-o
# 	url = https://github.com/42Paris/minilibx-linux.git
[submodule "mlx"]
	path = mlx
	url = https://github.com/42Paris/minilibx-linux.git
